<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/fichier.css">
    </head>
    <body>
    <p>Welcome <%= username%> </p>
    <a href="/projects"> <h1>Accéder à tous les projets en cours</h1></a>
    </body>
</html>

