<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/fichier.css">
    </head>
    <body>
    <div class="container">
        <% for(let user of project) { %>
            <div class="cards"> 
            <a href="/projects/<%= user.userId %>"><h2 class=""><%= user.name %></h2></a>
            <p class=""><a href="https://github.com/Gambadeur/Travel"><%= user.githubUrl %></a></p>
            </div>
        <% } %>
        <% for(let user of urlBdd2) { %>
            <div class="cards"> 
            <a href=""><h2 class=""><%= user.name %></h2></a>
            </div>
       <% } %>
    </div>
    </body>
</html>