<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/fichier.css">
    </head>
    <body>
    <p> <%= TabName2%> </p>
    <form action="/users" method="post">
        <input id="firstName" type="" name="firstName" value="">
        <input id="lastName" type="text" name="lastName">
        <input type="submit" value='inscription'>
    </form>
    </body>
</html>